@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Ubuntu&display=swap");


* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
	font-size: 200em;
	
}


.context {
	width: 100%;
	position: absolute;
	top: 50vh;
	margin-top: -300px;
	
}

.context h1 {
	text-align: center;
	color: #fff;
	font-size: 50px;
}


.area {
	background: #4e54c8;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height: 100vh;

}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;

}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}


.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {

	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}


/* LAYOUT */
header {
	position: relative;
	height: 35vh;
	border-bottom: 7px solid #eee;
}

main {
	height: 65vh;
	color: #eee;
	font-size: 700%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.left {
	width: 52rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 7rem;
}

.right {
	width: 52rem;
	font-size: 4rem;
}

/* ELEMENTS STYLE */
h1 {
	font-size: 4rem;
	text-align: center;
	position: absolute;
	font-family: serif;
	width: 100%;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.number {
	background: #eee;
	color: #333;
	font-size: 6rem;
	width: 15rem;
	padding: 3rem 0rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	border: 10px solid #7f7edb;
	left: 50%;
	transform: translate(-50%, 50%);
}

.between {
	font-size: 3rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.again {
	position: absolute;

	top: 2rem;
	left: 2rem;
}

.guess {
	background: none;
	border: 4px solid #eee;
	font-family: inherit;
	color: inherit;
	font-size: 5rem;
	padding: 2.5rem;
	width: 25rem;
	color: black;
	text-align: center;
	display: block;
	margin-bottom: 3rem;
}

.btn {
	border: none;
	background-color: #eee;
	color: #222;
	font-size: 4rem;
	font-family: inherit;
	padding: 2rem 3rem;
	border: 2px solid black;
	cursor: pointer;
}

.btn:hover {
	background-color: #ccc;
}

.message {
	margin-bottom: 8rem;
	height: 3rem;
}

.label-score {
	margin-bottom: 2rem;
}
